/*цвет основного текста : rgba(117, 117, 117, 1) */

/*вторичный цвет: #212121 */

/*акцент: #2196F3 */

/*простой белый: #FFFFFF*/

/*фоновый серый: #2F303A*/

/*контакты футер: rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --simply-white: #FFFFFF;
    --fon-grey: #2F303A;
    --contacs-footer: rgba(255, 255, 255, 0.6);
    --simply-black: #000000;
    --btn-fon: rgba(245, 244, 250, 1);
    --team-bcg: #F5F4FA;
    --features-bcg: #E5E5E5;
    --work-item-border: rgba(238, 238, 238, 1);
    --header-border: rgba(236, 236, 236, 1);
    --icon-main-color: #AFB1B8;
    --icon-bcg-footer: rgba(255, 255, 255, 10%);
}

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.akcent {
        color: var(--accent-color);
    }
    
.akcent-two {
        color: var(--simply-white);
    }

.html {
    box-sizing: border-box;
}  

.body {
    margin: 0;
    background-color: var(--simply-white);
    color: var(--primary-text-color);
    font-family: Roboto , sans-serif;
    letter-spacing: 0.03em;
}

h1, h2, h3, p, ul {
    margin: 0;
}

h2 {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid var(--header-border);
}

.header .container {
    display: flex;
}

.logo {
    color: var(--simply-black);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-right: 93px;
    padding: 24px 0 24px;
}

/*site-nav*/

.nav {
    display: flex;
    margin-right: auto;
}

.site-nav {
    display: flex;
    align-items: center;

}

.site-nav .item {
    position: relative;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 76px;
    border-radius: 2px;
    background-color:  var(--accent-color);
}

/*contacts*/

.contacts {
    display: flex;
    align-items: center;
}

.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

.mail-header,
.tel-header {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-icon:hover,
.header-icon:focus {
    fill: var(--accent-color);
}

/*hero*/

.hero {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--fon-grey);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/office.jpg);
}

.hero-container {
    display: block;
    height: 600px;
    padding: 200px 0;
}

.hero-title {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    color: var(--simply-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    display: inline-block;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 4px solid transparent;
    color: var(--simply-white);
    background: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
}

.section.no-padding {
    padding-bottom: 0;
}

.section.color {
    background-color: var(--team-bcg);
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*features*/

.features {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.features .item:not(:last-child) {
    margin-right: 30px;
}

.features .item {
    width: 270px;
}

.bcg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 270px;
    background-color: var(--team-bcg);
    background-position: center;
    margin-bottom: 30px;
}

.features-icon {
    height: 70px;
    width: 70px;
}

.features-title {
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*gallery*/

.container .gallery {
    margin-bottom: 0;
}

.gallery {
    display: flex;
    align-items: center;
}

.gallery .item:not(:last-child) {
    margin-right: 30px;
}

.gallery-thumb {
    position: relative;
}

.gallery-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--fon-grey);
    height: 70px;
    width: 100%;
    padding-top: 27px;
    opacity: 0;
    transition: 250ms opacity var(--timing-function);
}
    
.gallery .item:hover .gallery-actions,
.gallery .item:focus .gallery-actions {
    opacity: 0.7;
}

.gallery-actions-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--simply-white);
}

/*team*/

.container .team {
    margin-top: 0;
}

.team {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
}

.team .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .item:not(:last-child) {
    margin-right: 30px;
}

.team-description {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--simply-white);
}

.team-title {
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-text {
    color: var(--primary-text-color);
    line-height: 1.19;
}

/*clients*/

.clients {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    cursor: pointer;
    transition: border-color 250ms var(--timing-function);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-icon {
    fill:var(--icon-main-color);
    transition: fill 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-color);
}

/*footer*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--fon-grey);
}

.footer .container {
    display: flex;
}

.part:not(:last-child) {
    margin-right: 70px;
}

.part:nth-child(2) {
    margin-right: 93px;
}

.part:last-child {
    margin-left: auto;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.address {
    font-style: normal;
}

.address .contacts {
    display: block;
    padding: 0;
}

.location {
    color: var(--simply-white);
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.mail-footer {
    color: var(--contacs-footer);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.tel-footer {
    color: var(--contacs-footer);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.footer .item:not(:last-child) {
    margin-bottom: 9px;
}

.social-title {
    color: var(--simply-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-main-color);
    transition: fill 250ms var(--timing-function);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
     fill: var(--simply-white);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--simply-white) ;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms var(--timing-function);
}

.part .social-link {
    background-color: var(--icon-bcg-footer);
}

.part .social-icon {
    fill: var(--simply-white);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.part .form-input {
    background-color: var(--fon-grey);
    color: var(--simply-white);
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
}

.part::placeholder {
    color: var(--simply-white 60%);
}

.part .form-field {
    display: flex;
    margin-bottom: 0;
}

.part-btn {
    display: flex;
    margin-left: 12px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 4px solid transparent;
    color: var(--simply-white);
    background: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    align-items: center;
    justify-content: center;
}

.icon-send {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--icon-main-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    background-color: rgba(47, 48, 58, 0.5);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 581px;
    min-width: 528px;
    background-color: var(--simply-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms var(--timing-function);
}

.cross {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.cross:hover,
.cross:focus {
    transform: translateX(50%);
    fill:var(--accent-color);
}

.cross-icon {
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%; 
    background-color: var(--simply-white);
}

.form {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.form-title {
    margin-top: 6px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--simply-black);
}

.form-field {
    display: block;
    position: relative;
    margin-bottom: 28px;   
}

.icon {
    position: absolute;
    top: 50%;
    left: 15px;
    display: inline-block;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--simply-black);
}

.form-field:focus-within > .icon {
    fill: var(--accent-color);
}

.form-label {
   position: absolute;
   top: 50%;
   left: 40px;
   transform: translate(0, -50%);
   transition: transform 250ms var(--timing-function);
}

.form-field:focus-within>.form-label {
    transform: translate(-40px, -45px); 
}

.form-input {
    width: 100%;
    margin: 0;
    padding: 11px 40px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
}

.form-field:focus-within>.form-input {
    border-color: var(--accent-color);
}

.comment {
    position: absolute;
    top: -15%;
}

.form-field textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.textarea {
    width: 100%;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;   
    outline: transparent;
    transition: border-color 250ms var(--timing-function);
}

.textarea:hover,
.textarea:focus {
    border-color: var(--accent-color);
}

.form-option {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox:checked + .agree-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-size: contain;
    background-origin: border-box;
    fill: var(--accent-color);  
}

 .agree-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 1px solid var(--simply-black);
    border-radius: 2px;
    fill: var(--simply-white);
    transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}

.form-option:hover .agree-icon,
.form-option:focus .agree-icon {
    border-color: var(--accent-color);
}

.form-option .agree {
    font-size: 14px;
    margin-left: 10px;
}

.form-option a {
    color: var(--accent-color);
}

.form-btn {
    display: flex;
    margin: 30px auto 0;
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 4px solid transparent;
    color: var(--simply-white);
    background: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: box-shadow 250ms var(--timing-function);
}

.form-btn:hover,
.form-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*portfolio*/

.portfolio {
    background-color: var(--simply-white);
    padding-top: 94px;
    padding-bottom: 94px;
}

/*filters*/

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filters .item:not(:last-child) {
    margin-right: 8px;
}

.filters-btn {
    display: inline-block;
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 4px solid transparent;
    color: var(--secondary-color);
    background-color: var(--simply-white);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: none;
   }

.filters-btn-primary {
    display: inline-block;
    padding: 6px 22px;
    box-shadow: none;
    border-radius: 4px;
    border-color: transparent;
    color: var(--simply-white);
    background: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    min-width: 73px;
    height: 38px;
    cursor: pointer;
    border: none;
    transition: box-shadow 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.filters-btn-primary:hover,
.filters-btn-primary:focus {
    color: var(--simply-black);
    background-color: var(--simply-white);
    border-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-btn-secondary {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border-color: var(--accent-color);
    color: var(--secondary-color);
    background: var(--btn-fon);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em; 
    min-width: 73px;
    height: 38px;
    cursor: pointer;
    border: none;
    transition: box-shadow 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.filters-btn-secondary:hover,
.filters-btn-secondary:focus {
    color: var(--simply-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*work list*/

.work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    margin-right: auto;
}

.work-overlay {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms var(--timing-function);
}

.work-overlay:hover,
.work-overlay:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-thumb {
    position: relative;
    overflow: hidden;
}

.work-actions {
    display: block;
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.work-overlay:hover .work-actions,
.work-overlay:focus .work-actions {
    transform: translateY(0);
}

.work-actions-text {
    font-size: 18px;
    line-height: 1.55;
    padding: 63px 24px;
    color: rgba(255, 255, 255, 90%);
    background-color: rgba(33, 150, 234, 90%);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.work .item.item:nth-child(3n) {
    margin-right: 0;
}

.work .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.work-description {
    padding: 24px 20px;
    border-bottom: 1px solid var(--work-item-border);
}

.work-title {
    margin-bottom: 4px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-text {
    color: var(--primary-text-color);
    line-height: 1.9;
}